In [1]:
from src.lib.MONGODB import *
from src.system.secret import *
import pandas as pd
from src.modules.ALGORITHM_MODULE import *
import numpy as np

conn = MongoDbFunctions(
    DATABASE["host"],
    DATABASE["port"],
    DATABASE["username"],
    DATABASE["password"],
    DATABASE["dbname"],
    "CoreData",
)

assets = conn.findByMultipleFields(
    fields={"interval": "1day", "symbol": {"$ne": "SPX"}},
    custom=True,
    get_all=True,
    proyeccion={"_id": 0, "symbol": 1},
)
assets = [asset["symbol"] for asset in assets]

## Obtenemos AMD

In [2]:

data = conn.findByMultipleFields(
    fields={"symbol": "AAPL", "interval": "1day"}, custom=True
)

spx = conn.findByMultipleFields(
    fields={"symbol": "SPX", "interval": "1day"}, custom=True
)
spx = parameters.formatData(spx)

data = parameters.formatData(data)

print(f"Last data date: {data.iloc[0]['date']}")
print(f"Last spx date: {spx.iloc[0]['date']}")

data = parameters.matchDates(data, spx)
# Filtramos a los datos de los últimos 10 años 

print(f"Last data date: {data.iloc[0]['date']}")
print(f"Last spx date: {spx.iloc[0]['date']}")

Last data date: 1999-11-01 00:00:00
Last spx date: 1970-01-02 00:00:00
Last data date: 1999-11-01 00:00:00
Last spx date: 1970-01-02 00:00:00

## Calculamos simple moving average

In [3]:
parameters.simplemovingaverage(data, 50)
parameters.simplemovingaverage(data, 200)
print(data)

              open      high      low     close       volume       date  \
datetime
1999-11-01   80.00   80.6900   77.370   77.6200    2487300.0 1999-11-01
1999-11-02   78.00   81.6900   77.310   80.2500    3564600.0 1999-11-02
1999-11-03   81.62   83.2500   81.000   81.5000    2932700.0 1999-11-03
1999-11-04   82.06   85.3700   80.620   83.6200    3384700.0 1999-11-04
1999-11-05   84.62   88.3700   84.000   88.3100    3721500.0 1999-11-05
...            ...       ...      ...       ...          ...        ...
2023-12-12  193.08  194.7200  191.721  194.7100   52696900.0 2023-12-12
2023-12-13  195.09  198.0000  194.850  197.9600   70404183.0 2023-12-13
2023-12-14  198.02  199.6200  196.160  198.1100   66831572.0 2023-12-14
2023-12-15  197.53  198.3999  197.000  197.5700  128538401.0 2023-12-15
2023-12-18  196.09  196.6300  194.395  194.6666   20965976.0 2023-12-18

                SMA_50     SMA_200
datetime
1999-11-01         NaN         NaN
1999-11-02         NaN         NaN
1999-11-03         NaN         NaN
1999-11-04         NaN         NaN
1999-11-05         NaN         NaN
...                ...         ...
2023-12-12  182.334200  176.793900
2023-12-13  182.845400  177.046650
2023-12-14  183.334400  177.310650
2023-12-15  183.787600  177.568950
2023-12-18  184.131132  177.787133

[6072 rows x 8 columns]

## Calculo de relative strength index

In [4]:
parameters.relativestregthindex(data, 14)
print(data)

              open      high      low     close       volume       date  \
datetime
1999-11-01   80.00   80.6900   77.370   77.6200    2487300.0 1999-11-01
1999-11-02   78.00   81.6900   77.310   80.2500    3564600.0 1999-11-02
1999-11-03   81.62   83.2500   81.000   81.5000    2932700.0 1999-11-03
1999-11-04   82.06   85.3700   80.620   83.6200    3384700.0 1999-11-04
1999-11-05   84.62   88.3700   84.000   88.3100    3721500.0 1999-11-05
...            ...       ...      ...       ...          ...        ...
2023-12-12  193.08  194.7200  191.721  194.7100   52696900.0 2023-12-12
2023-12-13  195.09  198.0000  194.850  197.9600   70404183.0 2023-12-13
2023-12-14  198.02  199.6200  196.160  198.1100   66831572.0 2023-12-14
2023-12-15  197.53  198.3999  197.000  197.5700  128538401.0 2023-12-15
2023-12-18  196.09  196.6300  194.395  194.6666   20965976.0 2023-12-18

                SMA_50     SMA_200     RSI_14
datetime
1999-11-01         NaN         NaN        NaN
1999-11-02         NaN         NaN        NaN
1999-11-03         NaN         NaN        NaN
1999-11-04         NaN         NaN        NaN
1999-11-05         NaN         NaN        NaN
...                ...         ...        ...
2023-12-12  182.334200  176.793900  64.695546
2023-12-13  182.845400  177.046650  69.489908
2023-12-14  183.334400  177.310650  69.694465
2023-12-15  183.787600  177.568950  67.928780
2023-12-18  184.131132  177.787133  59.238795

[6072 rows x 9 columns]

## Calculo de Beta diaria (Últimos 5 años)

In [5]:
parameters.beta(data,spx)
print(data)

              open      high      low     close       volume       date  \
datetime
1999-11-01   80.00   80.6900   77.370   77.6200    2487300.0 1999-11-01
1999-11-02   78.00   81.6900   77.310   80.2500    3564600.0 1999-11-02
1999-11-03   81.62   83.2500   81.000   81.5000    2932700.0 1999-11-03
1999-11-04   82.06   85.3700   80.620   83.6200    3384700.0 1999-11-04
1999-11-05   84.62   88.3700   84.000   88.3100    3721500.0 1999-11-05
...            ...       ...      ...       ...          ...        ...
2023-12-12  193.08  194.7200  191.721  194.7100   52696900.0 2023-12-12
2023-12-13  195.09  198.0000  194.850  197.9600   70404183.0 2023-12-13
2023-12-14  198.02  199.6200  196.160  198.1100   66831572.0 2023-12-14
2023-12-15  197.53  198.3999  197.000  197.5700  128538401.0 2023-12-15
2023-12-18  196.09  196.6300  194.395  194.6666   20965976.0 2023-12-18

                SMA_50     SMA_200     RSI_14      beta
datetime
1999-11-01         NaN         NaN        NaN       NaN
1999-11-02         NaN         NaN        NaN       NaN
1999-11-03         NaN         NaN        NaN       NaN
1999-11-04         NaN         NaN        NaN       NaN
1999-11-05         NaN         NaN        NaN       NaN
...                ...         ...        ...       ...
2023-12-12  182.334200  176.793900  64.695546  1.228625
2023-12-13  182.845400  177.046650  69.489908  1.228648
2023-12-14  183.334400  177.310650  69.694465  1.227885
2023-12-15  183.787600  177.568950  67.928780  1.229381
2023-12-18  184.131132  177.787133  59.238795  1.229222

[6072 rows x 10 columns]

## Obtenemos el último la fecha de balance sheet

In [6]:
parameters.asignReportPresentationDate("AMD",data)
print(data)

              open      high      low     close       volume       date  \
datetime
1999-11-01   80.00   80.6900   77.370   77.6200    2487300.0 1999-11-01
1999-11-02   78.00   81.6900   77.310   80.2500    3564600.0 1999-11-02
1999-11-03   81.62   83.2500   81.000   81.5000    2932700.0 1999-11-03
1999-11-04   82.06   85.3700   80.620   83.6200    3384700.0 1999-11-04
1999-11-05   84.62   88.3700   84.000   88.3100    3721500.0 1999-11-05
...            ...       ...      ...       ...          ...        ...
2023-12-12  193.08  194.7200  191.721  194.7100   52696900.0 2023-12-12
2023-12-13  195.09  198.0000  194.850  197.9600   70404183.0 2023-12-13
2023-12-14  198.02  199.6200  196.160  198.1100   66831572.0 2023-12-14
2023-12-15  197.53  198.3999  197.000  197.5700  128538401.0 2023-12-15
2023-12-18  196.09  196.6300  194.395  194.6666   20965976.0 2023-12-18

                SMA_50     SMA_200     RSI_14      beta  lastReport
datetime
1999-11-01         NaN         NaN        NaN       NaN         NaN
1999-11-02         NaN         NaN        NaN       NaN         NaN
1999-11-03         NaN         NaN        NaN       NaN         NaN
1999-11-04         NaN         NaN        NaN       NaN         NaN
1999-11-05         NaN         NaN        NaN       NaN         NaN
...                ...         ...        ...       ...         ...
2023-12-12  182.334200  176.793900  64.695546  1.228625  2023-10-02
2023-12-13  182.845400  177.046650  69.489908  1.228648  2023-10-02
2023-12-14  183.334400  177.310650  69.694465  1.227885  2023-10-02
2023-12-15  183.787600  177.568950  67.928780  1.229381  2023-10-02
2023-12-18  184.131132  177.787133  59.238795  1.229222  2023-10-02

[6072 rows x 11 columns]

In [ ]:
BackUp = data.copy()

## Calculo de comportamiento en días de presentación de resultados

In [7]:
from src.modules.ALGORITHM_MODULE import *

parameters.asignMovement("AAPL",data)
print(data.columns)
print(data)

Index(['open', 'high', 'low', 'close', 'volume', 'date', 'SMA_50', 'SMA_200',
       'RSI_14', 'beta', 'lastReport', 'reportPriceMovement'],
      dtype='object')
              open      high      low     close       volume       date  \
datetime
1999-11-01   80.00   80.6900   77.370   77.6200    2487300.0 1999-11-01
1999-11-02   78.00   81.6900   77.310   80.2500    3564600.0 1999-11-02
1999-11-03   81.62   83.2500   81.000   81.5000    2932700.0 1999-11-03
1999-11-04   82.06   85.3700   80.620   83.6200    3384700.0 1999-11-04
1999-11-05   84.62   88.3700   84.000   88.3100    3721500.0 1999-11-05
...            ...       ...      ...       ...          ...        ...
2023-12-12  193.08  194.7200  191.721  194.7100   52696900.0 2023-12-12
2023-12-13  195.09  198.0000  194.850  197.9600   70404183.0 2023-12-13
2023-12-14  198.02  199.6200  196.160  198.1100   66831572.0 2023-12-14
2023-12-15  197.53  198.3999  197.000  197.5700  128538401.0 2023-12-15
2023-12-18  196.09  196.6300  194.395  194.6666   20965976.0 2023-12-18

                SMA_50     SMA_200     RSI_14      beta  lastReport  \
datetime
1999-11-01         NaN         NaN        NaN       NaN         NaN
1999-11-02         NaN         NaN        NaN       NaN         NaN
1999-11-03         NaN         NaN        NaN       NaN         NaN
1999-11-04         NaN         NaN        NaN       NaN         NaN
1999-11-05         NaN         NaN        NaN       NaN         NaN
...                ...         ...        ...       ...         ...
2023-12-12  182.334200  176.793900  64.695546  1.228625  2023-10-02
2023-12-13  182.845400  177.046650  69.489908  1.228648  2023-10-02
2023-12-14  183.334400  177.310650  69.694465  1.227885  2023-10-02
2023-12-15  183.787600  177.568950  67.928780  1.229381  2023-10-02
2023-12-18  184.131132  177.787133  59.238795  1.229222  2023-10-02

            reportPriceMovement
datetime
1999-11-01                  NaN
1999-11-02                  NaN
1999-11-03                  NaN
1999-11-04                  NaN
1999-11-05                  NaN
...                         ...
2023-12-12             1.477631
2023-12-13             1.477631
2023-12-14             1.477631
2023-12-15             1.477631
2023-12-18             1.477631

[6072 rows x 12 columns]

In [9]:
print(data["reportPriceMovement"].tail(200))

datetime
2023-03-06   -3.999079
2023-03-07   -3.999079
2023-03-08   -3.999079
2023-03-09   -3.999079
2023-03-10   -3.999079
                ...
2023-12-12    1.477631
2023-12-13    1.477631
2023-12-14    1.477631
2023-12-15    1.477631
2023-12-18    1.477631
Name: reportPriceMovement, Length: 200, dtype: float64

## BackUp Físico

In [ ]:
import pandas as pd

# Especifica la ruta donde quieres guardar el archivo
ruta_archivo = '/Users/oscarperezarruti/Documents/Documentos/Repositorios/trabajo-fin-grado-23/data_backup.xlsx'

# Guardar el DataFrame en un archivo de Excel
data.to_excel(ruta_archivo, index=False, engine='openpyxl')